<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Open Sesame Consulting</title>
  <!-- include the site stylesheet -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900" rel="stylesheet">
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/css/icon-fonts.css">
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/css/plugins.css">
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/style.css">
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/css/colors.css">
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
  <header id="header">
    <div class="bg-dark container-fluid">
      <div class="top-nav text-right">
        <a href="mailto:kelli.icard@opensesameconsulting.com;" class="mail">kelli.icard@opensesameconsulting.com</a>
        <!-- social network of the page -->
        <ul class="list-unstyled social-network">
        @*   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li> *@
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <!-- social network of the page end -->
      </div>
    </div>
    <div class="container-fluid header-holder">
      <!-- logo of the page -->
      <div class="logo">
        <a href="@Url.Action("Index","Home")"><img src="/images/OSC Logo.jpeg" alt="Open Sesame Consulting Logo"></a>
      </div>
      <!-- logo of the page end -->
      <a href="#" class="nav-opener"><i class="fa fa-bars"></i></a>
      <!-- main nav of the page -->
      <nav id="nav">
        <ul class="list-unstyled">
          <li><a class="smooth" href="@Url.Action("Index","Home")">home</a></li>
          <li><a class="smooth" href="@Url.Action("About","Home")">about</a></li>
          <li><a class="smooth" href="@Url.Action("Features","Home")">features</a></li>
         @*  <li><a class="smooth" href="#works">works</a></li>
          <li><a class="smooth" href="#team">team</a></li>*@
          <li><a class="smooth" href="#blog">customer login</a></li> 
          <li><a class="smooth" href="@Url.Action("Contact","Home")">contact</a></li>
        </ul>
      </nav>
      <!-- main nav of the page end -->
    </div>
  </header>
  <!-- header of the page end -->
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <!-- footer of the page -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <p>Copyright © @System.DateTime.Now.Year <a href="#">Open Sesame Consulting</a>. All Rights Reserved.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <!-- social network of the page -->
          <ul class="list-unstyled social-network">
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
@*             <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li> *@
          </ul>
          <!-- social network of the page end -->
        </div>
      </div>
    </div>
  </footer>
  <!-- footer of the page end -->
  <!-- Back Top of the page -->
  <span id="back-top" class="fa fa-chevron-up"></span>

  <!-- include jQuery -->
  <script src="/js/jquery.js"></script>
  <!-- include jQuery -->
  <script src="/js/plugins.js"></script>
  <!-- include jQuery -->
  <script src="/js/jquery.main.js"></script>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
